body {
  margin: 0;
  padding: 0;
}

#grid-container {
  display: flex;

  width: 100%;
  height: 100svh;

  #editor-container {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-right: 1.5px solid #000D3B;

    background-color: #000D3B;

    .placeholder {
      display: none;
      height: 20px;
      padding: 4px;
      fill: #FFFFFF;
      stroke: #FFFFFF;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      width: 100%;
      max-width: 720px;

      margin-top: 24px;

      #alignment {
        width: 50%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        border: 1.5px solid #000D3B;
        border-radius: 10px;

        background-color: white;

        svg:not(.placeholder) {
          width: 36px;
          padding: 2px 4px;
          fill: #000D3B;
          stroke: #000D3B;
          border: 1.5px solid #000D3B;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            fill: #d3d3d3;
            stroke: #d3d3d3;
            border-color: #d3d3d3;
          }
        }

        #center-alignment {
          svg {
            width: 18px;
          }
        }
      }

      #image-drop {
        width: 50%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1.5px solid #000D3B;
        border-radius: 10px;

        background-color: white;

        svg:not(.placeholder) {
          width: 24px;
          height: 36px;
          fill: #000D3B;
        }
      }
    }

    .standalone-container {
      width: 100%;
      border-color: #000D3B;
    }

    .standalone-container {
      .placeholder {
        display: none;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        width: 100%;

        margin-top: 182.5px;
        margin-bottom: 182.5px;
      }
    }

    .unavailable {
      display: flex;
      align-items: center;
      justify-content: center;

      .placeholder {
        display: inline-block;
        visibility: visible;
      }

      div {
        display: none;
      }

      background-color: #000D3B !important;
    }
  }

  #preview-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    height: 100%;

    margin: 0 0 0 12px;

    scroll-behavior: smooth;
  }
}