body {
  margin: 0;
  padding: 0;
}

#grid-container {
  display: flex;

  width: 100%;
  height: 100svh;

  #editor-container {
    width: 60%;
    height: 100%;

    background-color: lightskyblue;
  }

  #preview-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    height: 100%;

    margin: 0 12px;
    margin-right: 0;

    scroll-behavior: smooth;
  }
}