.controls {
  display: flex;
  align-items: center;

  .control {
    visibility: hidden;
    height: 20px;
    padding: 4px;
    fill: #e0e0e0;
    cursor: pointer;

    &:hover {
      fill: #d3d3d3;
    }

    &:active {
      fill: #bbbbbb;
    }
  }

  .drag {
    height: 24px;
    margin-left: 8px;
    fill: #000000;
    cursor: move;
  }
}