.delete {
  visibility: hidden;
  width: 20px;
  height: 40px;
  margin: 4px 36px 4px 0;
  fill: #e0e0e0;
  cursor: pointer;

  &:hover {
    fill: #d3d3d3;
  }

  &:active {
    fill: #bbbbbb;
  }
}

.drag {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 4px 0;

  .up, .down {
    visibility: visible;
    height: 20px;
    padding: 0;
    margin: 0;
    fill: #e0e0e0;
    cursor: pointer;

    &:hover {
      fill: #d3d3d3;
    }

    &:active {
      fill: #bbbbbb;
    }
  }
}